<h1>To reset your password, click the URL below.</h1>

<p><%- resetURL %></p>

<p>If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.</p>